<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<form action="/saveProduct" method="post" th:object="${product}">
    <input name="id" th:value="${productid}" type="hidden"> <br/>
    <input name="id" th:value="${wishlistid}" type="hidden"> <br/>
    <input name="id" th:value="${adminid}" type="hidden"> <br/>


    Name: <input name="name" th:value="${name}" type="text"> <br/>
    Description: <input name="description" th:value="${description}" type="text"> <br/>
    Price: <input name="price" th:value="${price}" type="number"> <br/>
    Image: <input accept="image/" name="image" onchange="readURL(this);" th:value="${image}" type="file"> <br/>

    <input VALUE="Submit" type="submit">
</form>
</body>
</html>
