<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/customer/save" method="post" th:object="${customer}">
    <input name="id" th:value="${customeriid}" type="hidden"> <br/>
    Name: <input name="username" th:value="${username}" type="text"> <br/>
    password: <input name="passwords" th:value="${passwords}" type="password"> <br/>
    FullName: <input name="fullName" th:value="${full_name}" type="text"> <br/>
    Gender: <input name="gender" th:value="${gender}" type="text"> <br/>
    phone: <input name="phone" th:value="${phone}" type="number"> <br/>
    <input VALUE="Submit" type="submit">
</form>

</body>
</html>
