<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/head::head}"></head>
<body>

<th:block th:replace="~{include/header::header}"/>

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a th:href="@{index}">Home</a> <span class="mx-2 mb-0">/</span> <a
                    th:href="@{shop}">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Gray
                Shoe</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="item-entry">
                    <a class="product-item md-height bg-gray d-block" href="#">
                        <!--                <img th:src="${'/image/' + product.productid}" alt="Image" class="img-fluid">-->
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <!--            <h2 class="text-black"><span th:utext="${product.productid}"></span></h2>-->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt
                    facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores
                    fuga voluptas, distinctio, aperiam, ratione dolore.</p>
                <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos
                    repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum
                    hic magni iste, velit aperiam quis.</p>
                <!--            <p><strong class="text-primary h4"><span th:utext="${product.price}"></span></strong></p>-->
                <div class="mb-1 d-flex">
                    <label class="d-flex mr-3 mb-3" for="option-sm">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input id="option-sm"
                                                                                                       name="shop-sizes"
                                                                                                       type="radio"></span>
                        <span class="d-inline-block text-black">Small</span>
                    </label>
                    <label class="d-flex mr-3 mb-3" for="option-md">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input id="option-md"
                                                                                                       name="shop-sizes"
                                                                                                       type="radio"></span>
                        <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label class="d-flex mr-3 mb-3" for="option-lg">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input id="option-lg"
                                                                                                       name="shop-sizes"
                                                                                                       type="radio"></span>
                        <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label class="d-flex mr-3 mb-3" for="option-xl">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input id="option-xl"
                                                                                                       name="shop-sizes"
                                                                                                       type="radio"></span>
                        <span class="d-inline-block text-black"> Extra Large</span>
                    </label>
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input aria-describedby="button-addon1" aria-label="Example text with button addon"
                               class="form-control text-center" placeholder=""
                               type="text" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </div>
                <p><a class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" th:href="@{cart}">Add To
                    Cart</a></p>

            </div>
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel">
                    <div class="item">
                        <div class="item-entry">
                            <a class="product-item md-height bg-gray d-block" href="#">
                                <img alt="Image" class="img-fluid" th:src="@{images/model_1.png}">
                            </a>
                            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                            <strong class="item-price">
                                <del>$46.00</del>
                                $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a class="product-item md-height bg-gray d-block" href="#">
                                <img alt="Image" class="img-fluid" th:src="@{images/prod_3.png}">
                            </a>
                            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                            <strong class="item-price">
                                <del>$46.00</del>
                                $28.00</strong>

                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a class="product-item md-height bg-gray d-block" href="#">
                                <img alt="Image" class="img-fluid" th:src="@{images/model_5.png}">
                            </a>
                            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                            <strong class="item-price">
                                <del>$46.00</del>
                                $28.00</strong>

                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a class="product-item md-height bg-gray d-block" href="#">
                                <img alt="Image" class="img-fluid" th:src="@{images/prod_1.png}">
                            </a>
                            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                            <strong class="item-price">
                                <del>$46.00</del>
                                $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a class="product-item md-height bg-gray d-block" href="#">
                                <img alt="Image" class="img-fluid" th:src="@{images/model_7.png}">
                            </a>
                            <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                            <strong class="item-price">$58.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{include/footer::footer}"></footer>
</body>
</html>
